* {box-sizing: border-box;}

a {
    text-decoration: none;
}

body {
    margin: 0;
}
body,
html {



}

.header{
    height: 12vh;
    background-color: #777777;

}
.box_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .header_logo{

    text-align: center;

}

.header .header_logo a{
    color: white;
    font-size: 40px;
    border-radius: 4px;
}

.header_logo .logo{

}

.header .header__section .header__item{

    font-size: 30px;
    text-transform: uppercase;

}

.footer{
    height: 5vh;

    font-size: 20px;
    color: #ffffff;
    background-color: #777777;
    text-align: center;
}

