.form {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.bid_form {
    display: flex;
    flex-wrap: wrap;

}
.form-group {
    margin-left: 3%;
    margin-right: 3%;
}
.input-group-prepend {
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
}


