

* {
    text-decoration: none;
    list-style: none;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
.main_flex {
    display: flex;
    flex-grow:1;
    width: 100vw;
    flex-direction: row;
    overflow-y: auto;
    justify-content: space-between;

}
.main_flex .sidebar {
    flex-direction: column;
    display: flex;

    flex: 1;
    height: 100%;
    background: lightgray;
}

.wrapper .sidebar_head{

}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;

}
.sidebar ul {
    margin-top: 15px;
}
.wrapper .sidebar ul li{
    font-size: 17px;

    padding: 15px 2px 15px 2px;

}

.wrapper .sidebar ul li a{


    color: #1b3536;
    font-weight: bold;
}


.wrapper .sidebar ul li:hover{
    background: #777777;
}

.wrapper .sidebar ul li:hover a{
    color:#fff;
}

.wrapper .main_content{
    flex: 5;
    flex-direction: column;
    overflow-y: auto;


}


.table_head {
    width: 100%;
    font-size: 20px;
    text-align: center;
    background: none;



}

.wrapper .main_content .machine_table,
.bid_table,
.machine_status_table {
    ;
    align-content: center;



}
